
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body
{
	background-color: #FFFFFF;
}

#folder {
	color:#0066FF;
	margin:5px;
	cursor:pointer;
}

#box {
	padding:10px;
	border:5px solid gray;
	margin:0px;
}

p.error {
	color: red;
	text-align: center;
}

p.logout {
	color: green;
	text-align: center;
}

input {
    border: 1px solid #999;
    background-color: #e7e7e7;
}

#buttons input {
    font-size: 14px;
    font-weight: bold;

    padding: 5px;
}

label {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

#expert_toggle {
    padding: 8px 8px 0px 0px;
}

#expert {
    display: table-cell;
    border: 1px solid #999;
    padding: 5px 50px 5px 5px;
    background-color: #ededed;
}

#expert h2 {
    margin: 0 0 10px 0;
}

#ab, #vb {
    width: 60px;
}

#ab_byte, #vb_byte {
    display: inline;
    font-style: italic;
    font-size: 10px;
}

#mediainfo {
    list-style-type: square;
    margin-left: 15px;
    padding-left: 10px;
}

#create_stream {
    margin-top: 8px;
}

#video_row {
    display: table-cell;
}

#audio_row {
    display: table-cell;
    padding-left: 15px;
}

#codecs {
	text-align: left;
}

#header-nav {
	font-size: 150%;
}


a:link    {color:#0066FF}
a:visited {color:#0066FF}
a:active  {color:#000099}
a:hover   {color:#000099}
